name: CI - Run Linting and Tests

on:
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          pip install ruff
      - name: Run Ruff Linter
        run: ruff check.

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Run Pytest
        # Cần mock MLFLOW_TRACKING_URI để test có thể chạy
        env:
          MLFLOW_TRACKING_URI: "http://mock-server:5000"
        run: pytest tests/